.imgcenter
{
    width: 10rem;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    text-align: center;
}
.imgcenter img
{
    width: 100%;
}
.bigblue
{
    color: #28abe3;
    font-size: 1.4rem;
    font-family: 'Microsoft YaHei';
}
.phoneinfo .item-title
{
    color: #003333;
    font-size: 0.85rem;
    line-height: 3;
}
.phoneinfo .item-content
{
    border: 1px solid #cfcfcf;
    border-left: 0;
    border-right: 0;
    line-height: 3;
}
.phoneinfo .item-input
{
    display:inline;
}
.phoneinfo .item-input input
{
    border:none;
    background: transparent;
}
.sepline
{
    border-left: 1px solid #cfcfcf;
    margin: 0 0.5rem;
}
.colphone
{
    color: #28abe3;
}
.inputcode input
{
    border:none;
    background: transparent;
    border-bottom:1px solid #cfcfcf;
  width: 2rem;
line-height: 2rem;
text-align:center;
}



